In [48]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)

In [84]:
a = np.random.randint(2, size = (500, 7),dtype = "int")

#a = print(a)

a = np.concatenate( (np.arange(500).reshape(500,1), a) , axis = 1)
a = np.concatenate((a, np.random.randint(1, 6, size = (500,1)), np.random.randint(31, 81, size = (500,1)) * 10), axis = 1)
a = np.concatenate(([['Restaurant id', 'South Indian', 'North Indian', 'Punjabi', 'Chinese', 'Italian', 'Mughalai', 'Kebab', 'Ratings', 'Cost of Two']],a), axis = 0)

pd.DataFrame(a).to_csv("Restaurant_vector", header= None, index=None)
data = pd.read_csv('Restaurant_vector.csv')

b = np.random.randint(-4,6,size=(4000,500))
b = np.concatenate((np.arange(500).reshape(1,500), b), axis = 0)
b = np.concatenate((np.arange(4001).reshape(4001,1), b), axis = 1)
b[b < 0] = 0
b[0][0] = -1;
print(b)
pd.DataFrame(b).to_csv("User_restaurant_dataset", header= None, index=None)
data1 = pd.read_csv('User_restaurant_dataset')

[[  -1    0    1 ...  497  498  499]
 [   1    0    0 ...    0    0    1]
 [   2    3    0 ...    0    4    3]
 ...
 [3998    0    5 ...    0    5    2]
 [3999    0    0 ...    2    3    0]
 [4000    0    3 ...    0    4    1]]

In [85]:
print(data1)

        -1  0  1  2  3  4  5  6  7  8 ...   490  491  492  493  494  495  496  \
0        1  0  0  0  1  0  0  0  2  0 ...     4    0    4    0    0    5    3
1        2  3  0  5  1  0  2  0  0  0 ...     0    2    1    0    1    0    0
2        3  1  4  1  1  0  1  0  5  0 ...     0    5    0    2    0    0    5
3        4  0  0  0  4  0  4  2  0  3 ...     0    5    0    0    4    0    0
4        5  0  2  3  2  3  5  0  0  0 ...     0    0    0    0    0    0    4
5        6  1  1  0  0  2  0  0  0  0 ...     5    3    0    1    5    0    4
6        7  3  0  4  5  1  4  0  0  0 ...     0    0    0    0    0    0    0
7        8  2  0  5  0  0  2  5  0  0 ...     0    0    4    0    0    0    2
8        9  0  3  1  5  0  4  0  0  5 ...     3    1    0    4    0    3    0
9       10  2  0  0  0  0  5  0  0  0 ...     5    0    5    2    4    5    5
10      11  0  1  5  5  3  1  1  2  0 ...     0    1    0    0    0    5    0
11      12  0  3  0  1  4  0  0  0  0 ...     5    4    0    5    3    0    2
12      13  3  0  0  4  3  3  1  1  1 ...     2    0    4    0    4    0    4
13      14  0  5  0  3  2  5  0  3  0 ...     5    2    0    4    4    0    5
14      15  4  0  2  1  0  0  0  5  0 ...     0    0    0    0    0    0    0
15      16  5  4  4  5  0  1  5  0  0 ...     5    4    1    0    3    0    0
16      17  4  0  0  0  4  4  5  5  0 ...     0    0    0    0    0    3    0
17      18  0  0  0  0  3  0  4  0  0 ...     0    0    5    0    2    5    5
18      19  0  5  3  0  1  3  0  0  0 ...     2    1    1    0    0    4    4
19      20  4  5  0  0  0  2  2  0  0 ...     0    2    0    0    1    0    5
20      21  4  0  4  4  3  0  4  0  0 ...     5    5    0    0    5    0    2
21      22  4  0  0  5  1  0  0  0  1 ...     0    4    4    0    3    3    1
22      23  0  4  1  4  0  1  0  0  1 ...     2    5    2    0    0    0    0
23      24  0  2  3  0  0  3  2  0  1 ...     0    4    1    2    3    0    0
24      25  3  4  5  2  0  0  0  5  3 ...     2    4    5    0    0    1    0
25      26  0  3  0  0  2  5  3  3  0 ...     0    4    5    2    0    3    0
26      27  5  0  3  1  0  0  4  0  3 ...     3    0    0    5    0    3    0
27      28  1  0  0  3  3  3  3  2  0 ...     2    1    1    1    3    0    0
28      29  5  5  1  0  2  5  2  0  3 ...     2    0    0    0    4    3    2
29      30  3  0  0  0  0  3  2  0  0 ...     0    4    0    0    0    0    5
...    ... .. .. .. .. .. .. .. .. .. ...   ...  ...  ...  ...  ...  ...  ...
3970  3971  2  2  4  1  5  0  0  4  0 ...     0    0    0    2    0    0    0
3971  3972  0  1  0  5  0  4  0  1  2 ...     2    3    5    5    0    0    4
3972  3973  0  4  0  0  0  2  4  0  1 ...     2    2    0    1    5    5    4
3973  3974  0  0  0  0  5  0  1  4  0 ...     3    2    1    4    0    0    5
3974  3975  5  0  0  4  0  4  1  2  4 ...     0    0    0    0    2    1    0
3975  3976  0  0  0  0  4  0  0  1  4 ...     0    4    0    0    0    0    4
3976  3977  3  0  1  1  5  0  2  0  0 ...     2    3    5    4    5    0    5
3977  3978  2  2  0  0  0  4  0  0  2 ...     0    1    0    0    5    5    0
3978  3979  0  0  0  2  2  4  4  5  3 ...     4    0    0    0    0    0    0
3979  3980  4  1  0  4  4  0  2  4  0 ...     0    3    3    0    0    5    0
3980  3981  3  1  0  0  0  4  0  1  4 ...     0    0    3    3    0    1    1
3981  3982  5  2  3  5  0  0  5  4  0 ...     1    0    5    0    5    0    0
3982  3983  0  2  0  0  3  4  5  0  5 ...     0    1    0    1    0    0    0
3983  3984  0  2  1  1  2  0  2  0  0 ...     2    1    5    0    3    0    0
3984  3985  5  5  4  3  4  0  5  3  3 ...     1    0    0    0    0    0    0
3985  3986  0  0  5  1  0  4  4  0  1 ...     0    5    0    1    2    4    2
3986  3987  0  0  1  0  0  1  2  1  0 ...     2    0    2    0    4    0    0
3987  3988  0  0  1  0  0  2  0  0  2 ...     5    0    2    5    3    5    0
3988  3989  0  4  0  3  0  3  3  1  1 ...     0    3    3    0    0    0    0
3989  3990  0  4  0  0  0  3  0  0  4 ...     0    2    0    0    5    0    5
3990  3991  0  2  0  0  3  4  0  0  0 ...     0    0    1    5    0    3    0
3991  3992  0  0  2  1  3  0  0  2  0 ...     1    0    1    1    1    0    0
3992  3993  0  5  3  5  5  0  0  2  0 ...     3    0    0    4    0    0    0
3993  3994  0  4  0  0  5  4  0  0  0 ...     5    0    5    0    0    0    1
3994  3995  0  0  1  1  4  0  0  5  4 ...     0    0    4    0    0    0    0
3995  3996  4  3  0  4  2  2  3  0  0 ...     0    5    0    0    0    2    0
3996  3997  0  0  0  0  3  0  3  0  4 ...     0    0    1    0    4    0    0
3997  3998  0  5  0  0  3  0  4  0  4 ...     0    1    0    2    0    2    2
3998  3999  0  0  5  0  0  0  3  0  3 ...     0    0    0    0    2    4    3
3999  4000  0  3  2  4  4  0  0  4  5 ...     3    0    0    2    0    0    3

      497  498  499
0       0    0    1
1       0    4    3
2       5    4    0
3       4    0    0
4       0    0    5
5       3    1    1
6       0    0    0
7       4    3    0
8       0    1    3
9       3    3    0
10      0    5    4
11      0    0    1
12      0    4    4
13      0    0    5
14      2    5    3
15      0    0    4
16      1    5    0
17      3    5    0
18      5    5    0
19      0    3    5
20      1    5    0
21      3    2    0
22      3    0    0
23      5    0    2
24      3    0    0
25      1    3    0
26      0    2    0
27      0    5    0
28      4    1    2
29      4    5    0
...   ...  ...  ...
3970    4    0    0
3971    3    0    0
3972    0    0    0
3973    0    2    1
3974    0    0    0
3975    0    0    5
3976    2    0    0
3977    1    0    0
3978    5    5    5
3979    3    0    0
3980    3    0    4
3981    0    2    0
3982    4    0    0
3983    4    0    2
3984    0    0    0
3985    0    5    1
3986    0    0    3
3987    0    0    0
3988    3    0    3
3989    1    1    2
3990    0    0    0
3991    0    1    1
3992    0    0    4
3993    2    0    4
3994    0    5    4
3995    0    2    0
3996    0    0    0
3997    0    5    2
3998    2    3    0
3999    0    4    1

[4000 rows x 501 columns]

In [66]:
data1.describe()

,0,0.1,1,2,3,4,5,6,7,8,...,490,491,492,493,494,495,496,497,498,499
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.0000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,2000.500000,1.526250,1.506500,1.537250,1.486500,1.483500,1.507000,1.504000,1.4925,1.483000,...,1.548250,1.480750,1.471500,1.464500,1.524250,1.543250,1.504500,1.478000,1.494000,1.445750
std,1154.844867,1.817729,1.810739,1.818774,1.801841,1.811366,1.803403,1.808812,1.8260,1.791093,...,1.822636,1.776068,1.781006,1.786488,1.810451,1.821664,1.797856,1.793689,1.781364,1.764465
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1000.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2000.500000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.0000,1.000000,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
75%,3000.250000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.0000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,4000.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.0000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000